.main-container {
  outline-style: solid;
  outline-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  height: 750px;
  border: 3px;
  box-sizing: border-box;
  overflow: auto;
  page-break-inside: avoid;
}

.IMEI {
  margin-top: 10px;
}

.imei-form-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 10px;
  max-width: 100%;
  margin-bottom: 10px;
}

.imei-input {
  padding: 5px;
  font-size: 14px;
}

.imei-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 50px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

svg {
  width: 100%;
  height: 100%;
}

.header {
  display: flex;
  flex-direction: row;
  text-align: center;
  gap: 20px;
}

#sku,
#orderNum {
  width: 100%;
  max-width: 200px;
  height: 50px;
}

#qty {
  width: 100%;
  max-width: 200px;
  height: 25px;
}

#caseId {
  width: 100%;
  max-width: 200px;
  height: 75px;
}

input {
  max-width: 100px;
}

.pdf-hide {
  display: none;
}
